body{
    margin: 0px;
    height: 100vh;
    width: 50vw;
    justify-content: center;
    display: flex;
    align-items: center;
    }
.ig{
    height: 300px;
    width: 50vw;
}
.mob{
  color: #0a1f44;
  border: solid #707070;
  margin-left: 100px;
  
}
.b1{
    background-color: rgb(15, 15, 245);
    color: white;
    font-size: 15px;
    height: 35px;
    width: 80px;
    margin-left: 100px;
    margin-bottom: 15px;
}
li{
    line-height: 30px;

}