.bg{
    background-image: url(https://img.freepik.com/free-photo/maldives-island_74190-479.jpg?t=st=1708773802~exp=1708777402~hmac=d65fc398bd034ae47394562d006d195752e351001b100a67421efaefe9c90724&w=740);
    background-size: cover;
    height: 100vh;
    width:100vw;
}
.inner_d{
    background-color: white;
   text-align: center;
   padding:10px;
}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   ;
}