.box{
    border: dotted 2px skyblue;
    width:500px ;
    display: flex;
    flex-direction: row;
}
.box >div{
    border: solid 2px pink;
    border-radius: 5px;
   
}   
.one{
    flex-basis:200px ;
    /* flex-grow: 0; */
    flex-shrink: 0;
}
.two{
    flex-basis: 200px;
    /* flex-grow: 1; */
    flex-shrink: 0;
}
.three{
    flex-basis: 200px;
    /* flex-grow: 0; */
    flex-shrink: 0;
}