.abc{
    background-image: url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?t=st=1708924184~exp=1708927784~hmac=2af86cd57943ce6bc491b72a96f18e27128ef9c09ed937983d3711c9a31f5138&w=826);
    height: 100%;
    width: 100%;
}
.heading