.out{
    background-color:skyblue;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.box1{
    margin-top: 200px;
    color: white;
    background-color: rgb(178, 124, 228);
    height: 200px;
    width: 100px;
}
.box2{
    color: white;
    background-color: rgb(69, 17, 117);
    height: 200px;
    width: 100px;
}