*{
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh; 
    background-color: #faf8f8; 
}
.out{
    height: 100vh;
    width: 340px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  background-color: rgb(139, 50, 180);
}
.nav{
    background-size: cover;
    display: flex;
    color:white;
    height: 5px;
    width:340px;
    flex-grow: 1;
    height: 20px;
}  
.shop{
    text-align: center;
   height: 100px;
   width:80px; 
  
   margin-top: 30px;
   margin-left: 30px;
   font-weight: bold;
} 
.shop_ig{
       height: 20px;
       width: 20px;
       border: wheat;
       margin-top: 30px;
}
.ig{
    height: 120px;
    width: 120px;
}
.heading{
    
    color: palevioletred;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.abc{
    flex-grow: 1;
    height: 300px;
    background-color:white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.amz{
    height: 100px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    
   
}
.info_1{
    width:250px
}
.amz_ig{
    width: 100px;
}
.a_ig{
    height: 80px;
    width: 80px;
}