/* q150 */
/* .container p {
    font-weight: bold;
}

.text {
    font-style: italic;
} */

/* q151 */
/* #special {
    color: red !important;
}

.container p {
    color: !important blue;
}

#special {
    color: green !important;
} */

/* q152 */

/* 166 */
/* #paragraph {
    color: grey;
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 16px;
    }
#p{
        color: orange !important;
    } */
    /* 168
    div {
        background-color: orange;
        color: red;
        height: 300px;
        width: 300px;
        } */

/* 169
        #paragraph {
            color: grey;
            font-family: "Roboto";
            font-size: 16px;
            margin-top: 16px;
            }
        p{
            color: orange !important;
        }
        p{
            color:blue !important;
        } */

        /* 170
        #paragraph {
            color: grey;
            font-family: "Roboto";
            font-size: 16px;
            margin-top: 16px;
            }
        p{
            color: orange !important;
        }
        p{
            color:blue !important;
        } */

        /*172 #paragraph {
            color: blue;
            font-weight: normal;
            font-size: 14px;
            font-style: italic;
            }
            p {
            color: green;
            font-weight: bold;
            font-size: 22px;
            } */
            
            /* .heading {
                font-size: 30px;
                color: green;
                background-color: yellow;
                }
                h1 {
                font-weight: bold;
                color: blue;
                } */